@media screen and (max-width: 1260px) {
  .tragaCenter {
    justify-content: center !important;
    align-content: center !important;
  }
}

@media screen and (max-width: 700px) {
  .tragaPhoto {
    width: 22rem !important;
    margin-bottom: 2rem !important;
  }
}
