@media screen and (max-width: 1440px) {
  .home__direction {
    flex-direction: column !important;
  }
  .home__wrap {
    flex-wrap: wrap !important;
    justify-items: center !important;
    align-items: center !important;
  }

  .home__content--wrap {
    text-align: center;
    justify-items: center !important;
    align-items: center !important;
  }

  .home__image--wrap {
    margin-top: 5rem;
  }
}
